.summary-row {
  border: 2px solid #000;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 10px;
}

.indevidual-status {
  border-right: 2px solid #000;
  padding-right: 10px;
}

.hired {
  color: darkgreen;
}
.rejected {
  color: darkred;
}

@media screen and (max-width: 768px) {
  .summary-row {
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 200px;
  }

  .indevidual-status {
    border-right: none;
    padding-right: 0;
  }
}
