.login-div {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  text-align: center;
  flex-direction: column;
}

.login-div h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  padding: 5px;
}
.login-btn {
  height: 40px;
  /* width: 100px; */
  background-color: green;
  margin-bottom: 5px;
  /* border-radius: 0px; */
}
